*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color:#1d2630;
}

#Update{
    display:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}